<div class="article_main">
  <div class="article_info" *ngIf="article">
    <div class="article_name">{{article.name}}</div>
    <div class="article_short">{{article.shortDesc}}</div>
    <div class="article_full" [innerHTML]=article.fullDesc></div>
    <div class="goods_in_articles">Товары, упомянутые в статье:</div>
    <div class="goods_name" *ngIf="!article.goods">Нет товаров</div>
    <div class="article_goods" *ngIf="article.goods">
      <div class="goods" *ngFor="let g of goods" (click)="showGoods(g.id, g.tableDefiner)">
        <div class="goods_name">{{g.name}}</div>
        <img src="{{g.img}}" alt="">
      </div>
    </div>
  </div>
</div>
