<div class="admin_unit_block">
  <div class="admin_block_header">В данном блоке вы можете изменять существующие или добавлять новые автомобильные марки и статьи о техобслуживании для конкретных моделей</div>
  <div class="articles_main">
    <div class="article_block">
      <app-admin-to-brands></app-admin-to-brands>
      <app-admin-to-models></app-admin-to-models>
      <form class="admin_content_form" [formGroup]="addChangeArticle" (ngSubmit)="onArticleSubmit()">
        <div class="admin_block_header_small">Форма добавления-изменения авто.
        </div>
        <div class="form-group">
          <p class="admin_content_block_label">Блок в котором указаны последнее добавленное авто и последнее обновленное</p>
          <button class="admin-btn" *ngIf="lastAdded" (click)="getLastAddedOrUpdated($event, lastAdded.idModel,lastAdded.id)">ПОСЛЕДНЕЕ ДОБАВЛЕННОЕ: {{lastAdded.name}}</button>
          <button class="admin-btn" *ngIf="lastUpdated" (click)="getLastAddedOrUpdated($event, lastUpdated.idModel, lastUpdated.id)">ПОСЛЕДНЕЕ ОБНОВЛЕННОЕ: {{lastUpdated.name}}</button>
        </div>
        <div class="form-group">
          <p class="admin_content_block_label">Для поиска модели по бренду, выберите последний из списка</p>
          <p class="admin_content_block_label_small">*При добавлении модели обязательно выберите из списка бренд</p>
          <p class="admin_content_block_label">Бренд</p>
          <select name="" id="brands" (change)="updateModels($event.target.value)">
            <option disabled selected value> -- Выберите значение бренд -- </option>
            <option *ngFor="let br of brands" value="{{br.id}}">{{br.name}}</option>
          </select>
        </div>
        <div *ngIf="models">
          <div class="form-group">
            <p class="admin_content_block_label">Для поиска авто по модели, выберите модель из списка</p>
            <p class="admin_content_block_label_small">*При добавлении авто обязательно выберите из списка модель</p>
            <p class="admin_content_block_label">Модель</p>
            <select name="" id="models" (change)="updateAutos($event.target.value)">
              <option disabled selected value> -- Выберите значение модель -- </option>
              <option *ngFor="let br of models" value="{{br.id}}">{{br.name}}</option>
            </select>
          </div>
        </div>

        <div class="autoInfoFields" *ngIf="showAllFields">

        <div *ngIf="articles">
          <div class="form-group">
            <p class="admin_content_block_label">Для изменения авто, выберите его из списка</p>
            <p class="admin_content_block_label">Авто</p>
            <select name="" id="auto" (change)="getAuto($event.target.value)">
              <option disabled selected value> -- Выберите авто -- </option>
              <option *ngFor="let br of articles" value="{{br.id}}">{{br.name}}</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <p class="admin_content_block_label">Название автомобиля</p>
          <input class="admin_content_input" type="text" id="name" formControlName = "name">
          <div class="validation_error"
               *ngIf="ca.get('name').getError('required') &&
                (ca.get('name').dirty || ca.get('name').touched)">
            Введите пожалуйста название автомобиля.
          </div>
        </div>

        <div class="form-group" *ngIf="whatHaveToDo==='update'">
          <p class="admin_content_block_label">Для изменения модели, к которой принадлежит авто, выберите ее из списка</p>
          <select name="" id="changemodels" (change)="changeModel($event.target.value)">
            <option disabled selected value> -- Выберите значение модель -- </option>
            <option *ngFor="let br of models" value="{{br.id}}">{{br.name}}</option>
          </select>
        </div>

          <div class="form-group" *ngIf="choosenImg">
            <img class="choosenImg" src="{{choosenImg.path}}" alt="">
          </div>

          <div class="form-group">
            <p class="admin_content_block_label">Выберите картинку авто</p>
            <p class="admin_content_block_label_small">*Если картинка не будет выбрана, то будет установлена картинка по-умолчанию</p>
            <p class="admin_content_block_label_small red">*Формат картинки 400*225 px.</p>
            <button class="admin-btn" (click)="imagesPickerShow($event)">Выберите картинку авто</button>
          </div>

          <div class="form-group">
            <p class="admin_content_block_label">Описание, определенные нюансы модели или выбранных материалов</p>
            <p class="admin_content_block_label_small">*Описание не обязательно к добавлению!</p>
            <textarea name="" id="short_desc" cols="30" rows="10" formControlName = "shortDesc"></textarea>
          </div>

          <div class="form-group">
            <div class="goods">
              <div *ngIf="goods.length !== 0">
                <p class="admin_content_block_label">Удаление-изменение товарных позиций</p>
                <div class="goods_unit" *ngFor="let g of goods">
                  <input class="goods_unit_name" type="text" value="{{g.name}}" (change)="nameChange($event.target.value, g.min)">
                  <input class="goods_unit_name" type="text" value="{{g.catNumber}}"
                         (change)="catNumberChange($event.target.value, g.min)">
                  <select name="" (change)="groupChange($event.target.value, g.min)">
                    <!--[selected]="g.idGroup === group.id" - выбор группы-->
                    <option
                      *ngFor="let group of groups"
                      [selected]="g.idGroup == group.id"
                      value="{{group.id}}"
                    >
                      {{group.name}}
                    </option>
                  </select>
                  <input class="goods_unit_name" type="text" value="{{g.price}}" (change)="priceChange($event.target.value, g.min)">
                  <select name="" (change)="exchangeChange($event.target.value, g.min)">
                    <!--[selected]="g.idGroup === group.id" - выбор группы-->
                    <option *ngFor="let e of exchanges" [selected]="g.idExchange === e.id" value="{{e.id}}">{{e.name}}</option>
                  </select>
                  <button class="admin-btn" (click)="removeItemFromGoods($event, g.id)">-</button>
                </div>
              </div>
              <div class="new_item">


                <!--Add goods-->

                <div class="form-group">
                  <p class="admin_content_block_label">Добавление товарных позиций</p>
                  <p class="admin_content_block_label_small">
                    *После того, как заполните все поля, нажмите кнопку "+", это добавит товарную позицию к автобомилю.
                  </p>
                  <form class="admin_content_form" [formGroup]="addGoodsItem" (ngSubmit)="onGoodsItemSubmit()">
                    <div class="form-group">
                      <p class="admin_content_block_label">Название</p>
                      <input class="admin_content_input" type="text" formControlName = "name">
                      <div class="validation_error"
                           *ngIf="gi.get('name').getError('required') &&
                (gi.get('name').dirty || gi.get('name').touched)">
                        Введите пожалуйста название автомобиля.
                      </div>
                    </div>

                    <div class="form-group">
                      <p class="admin_content_block_label">Каталожный номер</p>
                      <input class="admin_content_input" type="text" formControlName = "catNumber">
                    </div>

                    <div class="form-group">
                      <p class="admin_content_block_label">Группа товаров</p>
                      <select name="" formControlName="idGroup">
                        <option
                          *ngFor="let group of groups"
                          value="{{group.id}}"
                        >
                          {{group.name}}
                        </option>
                      </select>
                      <div class="validation_error"
                           *ngIf="gi.get('idGroup').getError('required') &&
                (gi.get('idGroup').dirty || gi.get('idGroup').touched)">
                        Выберите пожалуйста группу.
                      </div>
                    </div>

                    <div class="form-group">
                      <p class="admin_content_block_label">Цена</p>
                      <input class="admin_content_input" type="text" formControlName = "price">
                      <div class="validation_error"
                           *ngIf="gi.get('price').getError('required') &&
                (gi.get('price').dirty || gi.get('price').touched)">
                        Введите цену.
                      </div>
                      <div class="validation_error"
                           *ngIf="gi.get('price').getError('pattern') &&
                (gi.get('price').dirty || gi.get('price').touched)">
                        К вводу допускаются только цифры.
                      </div>
                    </div>

                    <div class="form-group">
                      <p class="admin_content_block_label">Валюта</p>
                      <select name="" formControlName="idExchange">
                        <option
                          *ngFor="let e of exchanges"
                          value="{{e.id}}"
                        >
                          {{e.name}}
                        </option>
                      </select>
                      <div class="validation_error"
                           *ngIf="gi.get('idExchange').getError('required') &&
                (gi.get('idExchange').dirty || gi.get('idExchange').touched)">
                        Выберите пожалуйста валюту.
                      </div>
                    </div>
                    <button type="submit" class="admin-btn">+</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>



        <div class="admin_content_button_block">
          <div *ngIf="ca.valid">
            <button class="admin-btn" type="submit" *ngIf="whatHaveToDo==='add'">Добавить значение</button>
          </div>
          <div *ngIf="goodsItemNameError.length > 0 || goodsItemArtError.length > 0 || goodsItemPriceError.length > 0">
            <div class="validation_error">
              <b>Ошибки в блоке: "Удаление-изменение товарных позиций, ошибки указаны ниже:</b>
            </div>
            <div *ngIf="goodsItemNameError.length > 0">
              <div class="validation_error" *ngFor="let er of goodsItemNameError">
                {{er}}
              </div>
            </div>
            <div *ngIf="goodsItemArtError.length > 0">
              <div class="validation_error" *ngFor="let er of goodsItemArtError">
                {{er}}
              </div>
            </div>
            <div *ngIf="goodsItemPriceError.length > 0">
              <div class="validation_error" *ngFor="let er of goodsItemPriceError">
                {{er}}
              </div>
            </div>
          </div>
          <div *ngIf="ca.valid && goodsItemNameError.length === 0 && goodsItemArtError.length === 0 && goodsItemPriceError.length === 0">
            <button class="admin-btn" type="submit" *ngIf="whatHaveToDo==='update'">Обновить информацию</button>
          </div>
          <button class="admin-btn" type="submit" (click)="newAuto($event)">Новое авто</button>
        </div>
      </form>
    </div>
  </div>
</div>
<app-images-picker></app-images-picker>
<app-server-response></app-server-response>
