<div class="admin_unit_block">
  <div class="admin_block_header">В данном блоке вы можете изменять существующие или добавлять новые параметры</div>
  <div class="add_block">

    <div class="add_block_unit">
      <app-admin-params-products-groups></app-admin-params-products-groups>
    </div>

    <div class="add_block_unit">
      <app-admin-params-brands></app-admin-params-brands>
    </div>

    <div class="add_block_unit">
      <app-admin-params-volume></app-admin-params-volume>
    </div>

    <div class="add_block_unit">
      <app-admin-params-visc></app-admin-params-visc>
    </div>

    <div class="add_block_unit">
      <app-admin-params-acea></app-admin-params-acea>
    </div>

    <div class="add_block_unit">
      <app-admin-params-api></app-admin-params-api>
    </div>

    <div class="add_block_unit">
      <app-admin-params-ilsac></app-admin-params-ilsac>
    </div>
  </div>
</div>
<app-images-picker></app-images-picker>
<app-server-response></app-server-response>
