<div class="footer_main">
  <div class="footer_nav">
    <ul class="menu">
      <li><a routerLink="main" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Главная</a></li>
      <!--<li><a routerLink="products" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Продукция</a></li>-->
      <li><a routerLink="articles" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Статьи</a></li>
      <li><a routerLink="to" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">
        Техобслуживание</a></li>
      <li><a routerLink="contacts" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Контакты</a></li>
      <!--<li *ngIf="userLoggedIn"><a routerLink="profile" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Профиль</a></li>-->
    </ul>
  </div>
  <div class="footer_other">
    <div class="viber">
      <a href="https://invite.viber.com/?g2=AQB%2B24MOD%2B0n2kuKQWqCt1ApvOUIOT2REEi3vwJZF0atBIZxqzSqKbAf%2F5GuLCcK" target="_blank">
        Нажимайте на ссылку и присоединяйтесь к нашей группе Viber прямо сейчас!
        <img src="http://oilexpress.online/img/viber_logo.png">
      </a>
    </div>
  </div>
</div>

