<div class="header_title">
  <div class="header_logo">
    <!--<img *ngIf="logo" src="{{logo.path}}" alt="">-->
  </div>
  <div class="header_text">
    <div class="header_text_main">
      Oil Express
    </div>
  </div>

</div>
<div class="header_nav">
  <div class="header_menu">
    <app-header-nav></app-header-nav>
  </div>
  <div class="header_find">
    <app-header-search></app-header-search>
  </div>
  <div class="header_auth">
    <app-header-auth-block></app-header-auth-block>
  </div>
</div>

