<div class="header_title">
  <div class="logo">
    <div class="header_logo">
      <img src="http://oilexpress.online/img/logo.jpg" alt="">
    </div>
    <div class="header_text">
      <div class="header_text_main">
        Oil Express
      </div>
    </div>
  </div>
  <div class="viber">
    <a href="https://invite.viber.com/?g2=AQB%2B24MOD%2B0n2kuKQWqCt1ApvOUIOT2REEi3vwJZF0atBIZxqzSqKbAf%2F5GuLCcK" target="_blank">
      <p>Уважаемые посетители, вся информация на сайте представлена исключительно в ознакомительных целях.</p>
      В нашем сообществе вы можете задавать любые вопросы касаемо подбора моторных и трансмисионных масел, охлаждающих и тормозных жидкостей,
      комплектов ГРМ, помп, роликов, ремней, свечей зажигания и накаливания.
      <img src="http://oilexpress.online/img/viber_logo.png">
    </a>
  </div>
</div>
<div class="header_nav">
  <div class="header_menu">
    <app-header-nav></app-header-nav>
  </div>
  <div class="header_find">
    <app-header-search></app-header-search>
  </div>
  <div class="header_auth">
    <app-header-auth-block></app-header-auth-block>
  </div>
</div>

