.auth-btn {
  margin-right: 5px;
  background-color: #a5d7ff;
  color: white;
  cursor: pointer;
  padding: 0 5px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  transition: all .218s ease 0s;
}
.auth-btn:hover{
  background-color: #124071;
}
