@import "../../../../../common";

.themes_list{
  padding: 10px;
  display: inline-flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
  .theme{
    padding: 10px;
    border-bottom: 1px solid @main_content_border;
    cursor: pointer;
    font-size: larger;
    color: @filter_font_color;
    font-family: @products_name_font;
    &:hover{
      color: @article_theme_hover_font_color;
    }
    .articles_list{
      margin-top: 10px;
      .article_list_unit {
        font-size: 16px;
        text-decoration: none;
        color: @article_article_font_color;
        &:hover{
          color: @article_article_hover_font_color;
          border-bottom: 1px solid #d94f5c;
        }
      }
    }
  }
}
