<ngx-loading [show]="loading"></ngx-loading>
<div class="main_content">
  <div class="filters">
    <div class="filter_unit">Производители</div>
    <app-checkbox-component [options]='brandsOptions' (toggle)='onBrandsChange($event)'></app-checkbox-component>
    <div class="filter_unit">Объем, л.</div>
    <app-checkbox-component [options]="volOptions" (toggle)="onVolumeChange($event)"></app-checkbox-component>
    <div class="filter_unit">Вязкость</div>
    <app-checkbox-component [options]="viscOptions" (toggle)="onViscosityChange($event)"></app-checkbox-component>
    <div class="filter_unit">ACEA</div>
    <app-checkbox-component [options]='aceaOptions' (toggle)='onAceaChange($event)'></app-checkbox-component>
    <div class="filter_unit">ILSAC</div>
    <app-checkbox-component [options]='ilsacOptions' (toggle)='onIlsacChange($event)'></app-checkbox-component>
    <div class="filter_unit">API</div>
    <app-checkbox-component [options]='apiOptions' (toggle)='onApiChange($event)'></app-checkbox-component>
<!--    <div class="filter_unit">База</div>
    <app-checkbox-component [options]='baseOptions' (toggle)='onBaseChange($event)'></app-checkbox-component>-->
    <span class="filter_unit" (click)="hideAll=!hideAll">Допуски {{hideAll?'+':'-'}}</span>
    <div [hidden]="hideAll">
      <div class="approval">
        <div class="approval_data">
          <div class="approval_name">Mercedes-Benz</div>
          <div class="approval_fold" (click)="hideMb=!hideMb">{{hideMb?'+':'-'}}</div>
        </div>
        <app-checkbox-component
          [hidden]="hideMb"
          [options]='mbOptions'
          (toggle)='onApprovalChange($event, "mbApprovals")'>
        </app-checkbox-component>
      </div>

      <div class="approval">
        <div class="approval_data">
          <div class="approval_name">Vw</div>
          <div class="approval_fold" (click)="hideVw=!hideVw">{{hideVw?'+':'-'}}</div>
        </div>
            <app-checkbox-component
              [hidden]="hideVw"
              [options]='vwOptions'
              (toggle)='onApprovalChange($event, "vwApprovals")'>
            </app-checkbox-component>
        </div>

      <div class="approval">
        <div class="approval_data">
          <div class="approval_name">Ford</div>
          <div class="approval_fold" (click)="hideFord=!hideFord">{{hideFord?'+':'-'}}</div>
        </div>
        <app-checkbox-component
          [hidden]="hideFord"
          [options]='fordOptions'
          (toggle)='onApprovalChange($event, "fordApprovals")'>
        </app-checkbox-component>
      </div>

      <div class="approval">
        <div class="approval_data">
          <div class="approval_name">Fiat</div>
          <div class="approval_fold" (click)="hideFiat=!hideFiat">{{hideFiat?'+':'-'}}</div>
        </div>
        <app-checkbox-component
          [hidden]="hideFiat"
          [options]='fiatOptions'
          (toggle)='onApprovalChange($event, "fiatApprovals")'>
        </app-checkbox-component>
      </div>

      <div class="approval">
        <div class="approval_data">
          <div class="approval_name">BMW</div>
          <div class="approval_fold" (click)="hideBmw=!hideBmw">{{hideBmw?'+':'-'}}</div>
        </div>
        <app-checkbox-component
          [hidden]="hideBmw"
          [options]='bmwOptions'
          (toggle)='onApprovalChange($event, "bmwApprovals")'>
        </app-checkbox-component>
      </div>

      <div class="approval">
        <div class="approval_data">
          <div class="approval_name">Renault</div>
          <div class="approval_fold" (click)="hideRen=!hideRen">{{hideRen?'+':'-'}}</div>
        </div>
        <app-checkbox-component
          [hidden]="hideRen"
          [options]='renOptions'
          (toggle)='onApprovalChange($event, "renApprovals")'>
        </app-checkbox-component>
      </div>

      <div class="approval">
        <div class="approval_data">
          <div class="approval_name">Porsche</div>
          <div class="approval_fold" (click)="hidePorsche=!hidePorsche">{{hidePorsche?'+':'-'}}</div>
        </div>
        <app-checkbox-component
          [hidden]="hidePorsche"
          [options]='porscheOptions'
          (toggle)='onApprovalChange($event, "porscheApprovals")'>
        </app-checkbox-component>
      </div>

      <div class="approval">
        <div class="approval_data">
          <div class="approval_name">Gm</div>
          <div class="approval_fold" (click)="hideGm=!hideGm">{{hideGm?'+':'-'}}</div>
        </div>
        <app-checkbox-component
          [hidden]="hideGm"
          [options]='gmOptions'
          (toggle)='onApprovalChange($event, "gmApprovals")'>
        </app-checkbox-component>
      </div>

      <div class="approval">
        <div class="approval_data">
          <div class="approval_name">Koenig</div>
          <div class="approval_fold" (click)="hideKoenig=!hideKoenig">{{hideKoenig?'+':'-'}}</div>
        </div>
        <app-checkbox-component
          [hidden]="hideKoenig"
          [options]='koenigOptions'
          (toggle)='onApprovalChange($event, "koenigApprovals")'>
        </app-checkbox-component>
      </div>

      <div class="approval">
      <div class="approval_data">
        <div class="approval_name">Chrysler</div>
        <div class="approval_fold" (click)="hideChrysler=!hideChrysler">{{hideChrysler?'+':'-'}}</div>
      </div>
      <app-checkbox-component
        [hidden]="hideChrysler"
        [options]='chryslerOptions'
        (toggle)='onApprovalChange($event, "chryslerApprovals")'>
      </app-checkbox-component>
      </div>

      <div class="approval">
        <div class="approval_data">
          <div class="approval_name">Psa</div>
          <div class="approval_fold" (click)="hidePsa=!hidePsa">{{hidePsa?'+':'-'}}</div>
        </div>
        <app-checkbox-component
          [hidden]="hidePsa"
          [options]='psaOptions'
          (toggle)='onApprovalChange($event, "psaApprovals")'>
        </app-checkbox-component>
      </div>

      <div class="approval">
        <div class="approval_data">
          <div class="approval_name">Volvo</div>
          <div class="approval_fold" (click)="hideVolvo=!hideVolvo">{{hideVolvo?'+':'-'}}</div>
        </div>
        <app-checkbox-component
          [hidden]="hideVolvo"
          [options]='volvoOptions'
          (toggle)='onApprovalChange($event, "volvoApprovals")'>
        </app-checkbox-component>
      </div>

      <div class="approval">
        <div class="approval_data">
          <div class="approval_name">Jaguar</div>
          <div class="approval_fold" (click)="hideJaguar=!hideJaguar">{{hideJaguar?'+':'-'}}</div>
        </div>
        <app-checkbox-component
          [hidden]="hideJaguar"
          [options]='jaguarOptions'
          (toggle)='onApprovalChange($event, "jaguarApprovals")'>
        </app-checkbox-component>
      </div>

      <div class="approval">
        <div class="approval_data">
          <div class="approval_name">Jaso</div>
          <div class="approval_fold" (click)="hideJaso=!hideJaso">{{hideJaso?'+':'-'}}</div>
        </div>
        <app-checkbox-component
          [hidden]="hideJaso"
          [options]='jasoOptions'
          (toggle)='onApprovalChange($event, "jasoApprovals")'>
        </app-checkbox-component>
      </div>

      <div class="approval">
      <div class="approval_data">
        <div class="approval_name">Mazda</div>
        <div class="approval_fold" (click)="hideMazda=!hideMazda">{{hideMazda?'+':'-'}}</div>
      </div>
      <app-checkbox-component
        [hidden]="hideMazda"
        [options]='mazdaOptions'
        (toggle)='onApprovalChange($event, "mazdaApprovals")'>
      </app-checkbox-component>
      </div>

      <div class="approval">
        <div class="approval_data">
          <div class="approval_name">Nissan</div>
          <div class="approval_fold" (click)="hideNissan=!hideNissan">{{hideNissan?'+':'-'}}</div>
        </div>
        <app-checkbox-component
          [hidden]="hideNissan"
          [options]='nissanOptions'
          (toggle)='onApprovalChange($event, "nissanApprovals")'>
        </app-checkbox-component>
      </div>



    </div>
  </div>
  <div class="products">
    <div class="products_header">Список моторных масел</div>
    <div *ngIf="!nonEmptyProductList">Товаров нет</div>
    <div class="products_list" *ngIf="nonEmptyProductList">
        <div class="product" *ngFor="let product of products| paginate: { itemsPerPage: 6, currentPage: p, totalItems: totalItems }" (click)="onClickProduct(product.id)">
          <div *ngIf="product.show">
            <div class="product_name">{{product.name}}</div>
            <img class="product_img" src="{{product.img}}" alt="">
          </div>
        </div>
    </div>
  </div>
</div>
<div class="pagination">
  <!--https://www.npmjs.com/package/ngx-pagination-->
  <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel="Пред." nextLabel="След."></pagination-controls>
</div>


