@import "../../../common";
:host {width: 100%}
.main_content{
  display: inline-flex;
  flex-flow: row nowrap;
  width: 100%;
  .filters {
    margin-right: 10px;
    width: 19%;
    .filter_unit{
      display: block;
      color: @filter_font_color;
      text-transform: uppercase;
      margin-bottom: 10px;
      margin-top: 10px;
      font-family: @nav_filters_font;
    }
    span {
      cursor: pointer;
    }
    .approval{

      flex-flow: column nowrap;
      text-transform: uppercase;
      margin-bottom: 5px;
      margin-top: 5px;
      .approval_data{
        display: inline-flex;
        flex-flow: row nowrap;
        .approval_name {
          color: red;
        }
        .approval_fold {
          cursor: pointer;
          margin-left: 10px;
          color: blue;
        }
      }
    }
  }
  .products{
    width: 80%;
    .products_header{
      width: 100%;
      text-align: center;
      font-size: 24px;
      border-bottom: 1px solid @main_content_border;
      color: @main_nav_font_color;
      margin-bottom: 20px;
      font-family: @headers_font;
      font-weight: bold;
    }
    .products_list{
      width: 100%;
      display: inline-flex;
      justify-content: space-around;
      flex-flow: row wrap;
      .product {
        margin: 5px;
        font-family: @products_name_font;
        text-transform: uppercase;
        color: @main_content_font_color;
        padding: 5px;
        border: 1px solid @main_content_border;
        box-sizing: border-box;
        width: 310px;
        cursor: pointer;
        &:hover{
          color: #1b6ab8;
          border-color: @main_content_border_hover;
        }
        .product_name{
          border-bottom: 1px solid @main_content_border;
          margin-bottom: 5px;
        }
      }
    }
  }
}
.my-pagination /deep/ .ngx-pagination{
  font-family: @nav_filters_font;
  .current {
    background: @button_font_color;
}
}

@media (min-width: 200px) and (max-width: 640px){
  .my-pagination /deep/ .ngx-pagination{
    font-size: 12px;
    .current {
    }
  }
  .main_content{
    .filters {
      width: 27%;
      .filter_unit{
        font-size: 14px;
      }
      span {
      }
      .approval{
        .approval_data{
          .approval_name {
          }
          .approval_fold {
          }
        }
      }
    }
    .products{
      width: 75%;
      .products_header{
        font-size: 20px;
        text-align: center;
      }
      .products_list{
        .product {
          width: 210px;
          &:hover{
          }
          .product_name{
            font-size: 14px;
          }
          .product_img{
            width: 200px;
          }
        }
      }
    }
  }
}
