<ul class="admin_nav">
  <li><a routerLink="oils" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Моторное масло</a></li>
  <li><a routerLink="oils_params" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Параметры моторного масла</a></li>
  <li><a routerLink="oils_approvals" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Допуски моторного масла</a></li>
  <li><a routerLink="admin_articles" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Статьи</a></li>
  <li><a routerLink="admin_to" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Техобслуживание</a></li>
</ul>
