<form class="admin_content_form" [formGroup] = 'addChangeExchange' (ngSubmit)="onExchangeSubmit()">
  <div class="admin_block_header_small">Форма изменения курса валют</div>
  <div class="form-group">
    <select name="" id="brands" formControlName = "id" (change)="fillInExchange($event.target.value)">
      <option disabled selected value> -- Выберите валюту -- </option>
      <option *ngFor="let exchange of exchanges" value="{{exchange.id}}">{{exchange.name}}</option>
    </select>
  </div>

  <div class="form-group">
    <p class="admin_content_block_label">Курс</p>
    <input class="admin_content_input" type="text" id="exchange" formControlName = "exchange">
    <div class="validation_error"
         *ngIf="addChangeExchange.get('exchange').getError('required') &&
                (addChangeExchange.get('exchange').dirty || addChangeExchange.get('exchange').touched)">
      Введите пожалуйста курс.
    </div>
  </div>

  <div class="admin_content_button_block">
    <div *ngIf="addChangeExchange.valid">
      <button class="admin-btn" type="submit" *ngIf="whatHaveToDo==='update'">Обновить информацию</button>
    </div>
  </div>
</form>


