
// Font color
@main_content_font_color: #626262;
@main_nav_font_color: #5a5a5a;
@main_nav_font_color_hover: #333333;
@filter_font_color: #0a155a;

// Border color

@main_content_border: #b7b7b7;

// Fonts

@headers_font: 'Open Sans Condensed', sans-serif;
@products_name_font: 'Oswald';
@nav_filters_font: 'Varela Round', sans-serif;
