<div class="main_content_list">
  <div class="text_info">
    <div class="viber">
      <a href="https://invite.viber.com/?g2=AQB%2B24MOD%2B0n2kuKQWqCt1ApvOUIOT2REEi3vwJZF0atBIZxqzSqKbAf%2F5GuLCcK" target="_blank">
        <img src="http://oils/img/viber_logo.png">
      </a>
    </div>
  </div>
  <div class="main_group">
    <div class="main-unit">
      <a class="category motor_oils" routerLink="oils">Моторное масло</a>
    </div>
<!--    <div class="main-unit">
      <a class="category trans_oils" routerLink="transmission">Трансмисионное масло</a>
    </div>-->
  </div>
</div>
<router-outlet></router-outlet>
