@import "../../../common";
:host {width: 100%}
.main_content_list{
  display: inline-flex;
  flex-flow: column wrap;
  width: 100%;
  .main_group{
    display: inline-flex;
    flex-flow: row nowrap;
    .main-unit{
      width: 400px;
      height: 400px;
      margin-right: 10px;
      .category {
        display: block;
        width: 400px;
        height: 400px;
        text-align: center;
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-family: 'Varela Round', sans-serif;
        transition: .5ms ease;
        &:hover{
          color: #1f37b7;
          transition: .5ms ease;
        }
      }
      .motor_oils {
        background-image: url("http://oilexpress.online/img/Motor_oil_category.jpg");
      }
      .trans_oils {
        background-image: url("http://oilexpress.online/img/transm_oil_category.jpg");
      }
    }
  }
  .text_info{
    margin-bottom: 15px;
    border-bottom: 1px solid @main_content_border;

  }
}
@media (min-width: 480px) and (max-width: 640px){
  .main_content_list{
    .main_group{
      flex-flow: column nowrap;
      align-items: center;
      .main-unit{
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
    .text_info{
      .viber {
        a {
          font-size: 16px;
        }
      }
    }
  }
}
