<div class="to_content_main">
  <div class="to_content_auto" *ngIf="auto">
    <div class="auto_name">{{auto.name}}</div>
    <div class="to_content_auto_desc_img">
      <img src="{{auto.img}}" alt="">
      <div class="desc" *ngIf="auto.shortDesc !== 'null'">{{auto.shortDesc}}</div>
    </div>
  </div>
  <div class="to_content_remarks">
    <div class="remark">* Обозначения рядом с названием масла (4+1, 5+1+1 и пр.) означают емкость канистр и какое кол-во какой емкости необходимо будет приобрести. "Цена" показывает, сколько необходимо будет заплатить за весь необходимый объем.</div>
    <div class="remark">* Номер по каталогу рядом с моторным маслом указывается на позиции с максимальной емкостью, и необходимы только для быстрого поиска характеристик масла.</div>
  </div>
  <div class="to_content_header">Материалы для техобслуживания</div>
  <div class="to_content_goods">
    <div class="groups" *ngIf="groups">
      <div class="groups_header">
        <div class="groups_header_group">Название группы</div>
        <div class="groups_header_goods">Наименование</div>
        <div class="groups_header_goods">Номер по каталогу</div>
        <div class="groups_header_goods">Цена, грн</div>
      </div>
      <div class="group" *ngFor="let group of groups">
        <div class="group_name">{{group.name}}</div>
        <div class="goods">
        <div *ngFor="let g of goods">
            <div class="goods_unit" *ngIf="g.idGroup == group.id">
              <div [ngClass]="{'goods_unit_price_min' : g.min}">{{g.name}}</div>
              <div [ngClass]="{'goods_unit_price_min' : g.min}">{{g.catNumber}}</div>
              <div [ngClass]="{'goods_unit_price_min' : g.min}">{{g.price}}</div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
