<ul class="menu">
  <li><a routerLink="main" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-home fa-fw" aria-hidden="true"></i>Главная</a></li>
  <!--<li><a routerLink="products" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Продукция</a></li>-->
  <li><a routerLink="articles" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-newspaper-o" aria-hidden="true"></i>Статьи</a></li>
  <li><a routerLink="contacts" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-address-book" aria-hidden="true"></i>Контакты</a></li>
  <li *ngIf="adminLoggedIn"><a routerLink="admin" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>Админка</a></li>
  <!--<li *ngIf="userLoggedIn"><a routerLink="profile" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Профиль</a></li>-->
</ul>
