<ul class="menu">
  <li><a routerLink="main" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Главная</a></li>
  <!--<li><a routerLink="products" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Продукция</a></li>-->
  <li><a routerLink="articles" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Статьи</a></li>
  <li><a routerLink="contacts" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Контакты</a></li>
  <li *ngIf="adminLoggedIn"><a routerLink="admin" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Админка</a></li>
  <!--<li *ngIf="userLoggedIn"><a routerLink="profile" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Профиль</a></li>-->
</ul>
