<div class="fade" *ngIf="visible">
  <div class="img_picker_window">
    <div class="window-header">Выберите картинку</div>
    <div class="window-main">
      <p class="images-picker-message">Для выбора картинки, нажмите на нее в списке</p>

      <div class = "images_picker_all" *ngIf="images">

        <div class="images_picker_image" *ngFor="let image of images">
          <img src="{{image.path}}" alt="" (click)="chooseImage(image)">
        </div>
      </div>

      <div class="images-picker-message" *ngIf="imageUploaded==='success'">Картинка успешно загружена</div>
      <div class="images-picker-message" *ngIf="imageUploaded==='error'">Картинка не загружена</div>
    </div>
    <div class="window-footer">
      <div class="images-picker-button-block">
        <button class="images-picker-button" (click)="cancel()">Отмена</button>
        <input
          style="display: none"
          type="file" (change)="onFileChanged($event)"
          #fileInput>
        <button class="images-picker-button" (click)="fileInput.click()">Выберите картинку для загрузки на сервер</button>
        <button class="images-picker-button" *ngIf="selectedFile" (click)="onUpload()">Загрузить картинку на сервер</button>
      </div>
    </div>
  </div>
</div>
